:root {
  --font-family: "DM Sans", sans-serif;
  --second-family: "Titan One", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    display: contents;
    text-decoration: none;
    /* color: #fff; */
}
button:focus{
    outline: none;
}
body{
  width: 1280px;
  margin-left: auto;
  margin-right: auto;

}
.app-container{
    
    margin-left: auto;
    margin-right: auto;
}
/* modal window */
.modal-cont{
    width: 40vh;
    height: 50vh;
    position: absolute;
    /* top: 0; */
    left: 0;
    right: 0;
    bottom: -50px;
    margin:  auto;
    z-index: 4;
    background-color: #ffb8ca;
    border: 3px solid #D41443;
    border-radius: 10px;
   box-shadow: 0 0  7px #d07389,
            0  2px 9px #d41342;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);   
     
}

.is-hidden{
    /* opacity: 0;
  visibility: hidden;
  pointer-events: none; */
  display: none;
}
.close{
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 20px;
    font-weight: 900;
    color: #d41342;
    
}
.close:hover{
    color: #fff;
}
.modal-title{
    font-family: "Titan One", sans-serif;
    font-weight: 600;
    font-size: 38px;
    letter-spacing: 0.04em;
    color: #d41342;
    text-align: center;
    margin-top: -20px;

}
.modal-img{
    width: 120px;
    
}
.modal-list{
    display: flex;
    justify-content: center;
    margin-top: -30px;
}
.modal-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.modal-inp{
    width: 80px;
    text-align: center;
    border: 1px solid #d41342;
    border-radius: 5px;
}
/* form */
.form-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-top: 10px;
}
.form-item{
    display: flex;
    flex-direction: column;
}
.form-item-c{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-lbl{
    color: #d41342;
}
.form-inp{
    width: 200px;
    height: 20px;
    border: 1px solid #d41342;
    border-radius: 4px;
       
}

.form-comm{
    width: 200px;
    height: 135px;
    border: 1px solid #d41342;
    border-radius: 4px;
    text-align: center;
   
   
}
.fomr-btn{
    width: 150px;
    background-color: #fff;
    padding: 10px 35px;
     border: none;
    border-radius: 20px;
    margin-top: 10px;
    
}

/* header section */
.header-container{
    background-color: #ffb8ca;
    padding: 0 1rem;
    position: relative;
    height: 664px;
}
.header-div {
    padding-top: 1.5rem;
    position: relative;
    z-index: 1;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-list{
    display: flex;
    gap: 1.5rem;
}
.header-item{
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}
.header-item a{
    color: #fff;
}
.header-item a:hover,
.header-item a:focus{
    color: #D41443;
    
}
.header-btn{
    color: #D41443;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    border-radius: 22px;
    border: none;
    width: 159px;
    height: 44px;
    background-color: #fff;
   
}


.btn-arrow{
    font-size: 1.3em;
    margin-left: 5px;
}


.header-btn:hover,
.header-btn:focus{
    transform: translateY(-5px);
}
/* hero section */
.hero-div{
    margin-top: 2.7rem;
    
}
.hero-title{
    width: 250px;
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 38px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
}
.title-span{
    font-family: "Titan One", sans-serif;
    font-size: 58px;
    line-height: 0.905;
    color: #d41443;
}
.hero-link-list{
    display: flex;
    gap: 10px;
}
.hero-link-item{
    border-radius: 20px;
    width: 107px;
    background: #d41443;
    text-align: center;
    padding: 0.5rem 0;
}
.hero-link-item a{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}
.hero-link-items{
    border-radius: 20px;
    width: 138px;
    background: #fff;
    text-align: center;
    padding: 0.5rem 0;
}
.hero-link-items a{
    font-weight: 400;
    font-size: 14px;
    color: #d41443;
}
.hero-link-items:hover,
.hero-link-items:focus{
     transform: translateY(-5px);
}
.hero-link-item:hover,
.hero-link-item:focus{
     transform: translateY(-5px);
     
}

/* milk div */
.milk-div{
    width: 410px;
    display: flex;
    margin-top: 2.2rem;
}
.milk-descripsion{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
}
.hero-prg{
    width: 200px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #fff;
}
.milk-btn{
    width: 26px;
    height: 26px;
    border: none;
    background-color: #fff;
    border-radius: 50%;
    align-self: flex-start;
}
.milk-btn:hover,
.milk-btn:focus{
    background-color: #d41443;
}
.fa-arrow-right{
    font-size: xx-small;
    color: #D41443;
}
.fa-arrow-right:hover,
.fa-arrow-right:focus{
    color: #fff;
    rotate: 90deg;
}
/* hero pictures */
.ice-cream{
    position: absolute;
    bottom: 0;
    right: 23rem;
    z-index: 1;
}
.circle-pink{
    position: absolute;
    top: 2.8rem;
    right: 13rem;
    z-index: 0;
}
.group-16{

    position: absolute;
    right: 1rem;
    top: 8rem;
}
.group-23{
    position: absolute;
    right: 1rem;
    top: 14rem;
}
.girl{
    position: absolute;
    bottom: 0;
    right: 2rem;
}
/* first section */
.first-section{
    margin-top: 60px;
    position: relative;
}
.products-cont{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.product-f-title{
  margin: 0;
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #ffa5ba;
}
.product-s-title{
   margin: 0;
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 58px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #d41443;
}
.product-list{
    margin-top: 280px;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 1;
}
.ice-cream-item{
  
    border-radius: 24px;
    max-width: 368px;
    height: 535px;
    background: #ffb8ca;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-top: -50px;
}
.ice-cream-item:hover,
.ice-cream-item:focus{
    background-color: #ecb5c2;
   box-shadow: 0 8px 30px 0 rgba(212, 20, 67, 0.3);
}
.ice-cream-item:hover .products-btn{
    background: #D41443;
    transform: scale(1.2);
    border-radius: 15px;
}
.ice-cream-item:hover .fa-arrow-right{
color: #fff;
}
.ice-coffee-item{
     border-radius: 24px;
    max-width: 368px;
    height: 535px;
    background: #f0d1a5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-top: -50px;
}
.ice-coffee-item:hover,
.ice-coffee-item:focus{
    background-color: #d9c19f;
   box-shadow: 0 8px 30px 0 rgba(212, 20, 67, 0.3);
}
.ice-coffee-item:hover .products-btn{
    background: #D41443;
    transform: scale(1.2);
    border-radius: 15px;
}
.ice-coffee-item:hover .fa-arrow-right{
color: #fff;
}
.milkshake-item{
     border-radius: 24px;
    max-width: 368px;
    height: 535px;
    background: #c2e297;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-top: -50px;
}
.milkshake-item:hover,
.milkshake-item:focus{
    background-color: #bdd39f;
   box-shadow: 0 8px 30px 0 rgba(212, 20, 67, 0.3);
}
.milkshake-item:hover .products-btn{
    background: #D41443;
    transform: scale(1.2);
    border-radius: 15px;
}
.milkshake-item:hover .fa-arrow-right{
color: #fff;
}
/* product img */
.ice-cream-img{
    position: absolute;
    z-index: 2;
    left: 4.5rem;
    top: 8rem;
}
.ice-coffee-img{
    position: absolute;
    z-index: 2;
    left: 28.7rem;
    top: 8rem;
}
.milkshakes-img{
    position: absolute;
    z-index: 2;
    right: 4rem;
    top: 8rem;
}
/*  product list and description */
.img-product-list{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.products-title{
font-family: "Titan One", sans-serif;
font-weight: 400;
font-size: 30px;
letter-spacing: 0.04em;
text-transform: uppercase;
text-align: center;
color: #fff;
margin: 0 0 -20px 0;
}
.dots{
    font-size: 4rem;
    color: #fff;
    margin: 0;
}
.products-prg{
    
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    padding: 0 40px;
}
.fa-arrow-right{
    font-size: medium;
}
.products-btn{
    width: 40px;
    height: 40px;
    margin-top: 40px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
}
/* second section */
.about-container{
    background: #fff5f6;
    margin-top: 60px;
}
.about-f-title{
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #ffa5ba;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 10px;
}
@keyframes tracking-in-contract-bck{
    0%{letter-spacing:1em;transform:translateZ(400px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0);opacity:1}}
.tracking-in-contract-bck:hover{animation:tracking-in-contract-bck 2s ease-in-out backwards}

    .about-s-title{
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 58px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #d41443;
    text-align: center;
    margin: 0;
}
.about-div{
    background-image: url(/images/bgmilk.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 80px;
}
@keyframes rotate-90-cw{0%{transform:rotate(0)}100%{transform:rotate(90deg)}}
.rotate-90-cw:hover{animation:rotate-90-cw 3s ease-in-out both}
.about-s-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.about-f-prg{
    width: 400px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    color: #000;
    text-align: start;
}
.about-s-prg{
    width: 401px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.94;
    letter-spacing: 0.04em;
    color: #907e82;
    text-align: start;
}
.prg-scale:hover,
.prg-scale:focus {
    transform: scale(1.1);
}

.about-btn {
    color: #D41443;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    border-radius: 22px;
    border: none;
    width: 159px;
    height: 44px;
    background-color: #fff;
}
.about-btn:hover,
.about-btn:focus{
    background-color: #e1e1e1;
}
/* third-section */
.icons-cont{
     background: #fff5f6;
     padding-top: 80px;
     
}
.icons-list{
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-left: 20px;
    padding-bottom: 180px;
}
.icons-title{
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 58px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    text-align: start;
}
.icons-prg{
    width: 317px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
    color: #000;
}
@keyframes rotate-center{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}
.rotate-center{animation:rotate-center 3s ease-in-out infinite backwards}

@keyframes rotate-right{0%{transform:rotate(0);transform-origin:right}100%{transform:rotate(360deg);transform-origin:right}}
.rotate-right:hover{animation:rotate-right 2s ease-in-out forwards}

/* section four */

.gallery-cont{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
   margin-top: -72px;
}
.first-pair{
    width: 140px;
}
.second-pair{
    width: 283px;
}
.third-pair{
    width: 140px;
    margin-top: 15px;
}
.fourth-pair{
     width: 140px;
     margin-top: -40px;
}
.gallery-cont div img:hover{
    transform: scale(1.3);
    transition: ease-in-out;
}
/* section five */

.fifth-section{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimonial{
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
}
.testimonial .slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}
.slide .review-prg{
    background-color: #fafafa ;
    padding: 0 120px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    text-align: center;
    color: #000;
}
.slide .details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.details .name{
     font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.86;
    text-align: center;
    color: #000;
}
.details .job{
     font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.86;
    text-align: center;
    color: #000;
}
.p-dots{
    color: #D41443;
    font-size: 2em;
    margin: 0;
    margin-top: -30px;
}
/* section six */
.hidden{
    display: none;
}
.sixth-section{
 background: #fff5f6;
 position: relative;
}
.contacts-cont{

    padding-bottom: 60px;
}
/* carduri */
.cards-cont{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.card-div{
   display: flex;
   flex-direction: column;
    justify-content: center;
    width: 368px;
    height: 538px;
    border-radius: 24px;
    box-shadow: 0 8px 30px 0 rgba(212, 20, 67, 0.1);
    background: #fff;
    margin-top: -100px;
}
.card-list{
    padding:0 30px;
}
.beige-prg{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    width: 80px;
    background: #f0d1a5;
    border: none;
    border-radius: 6px;
    margin-bottom: 40px;
}
.green-prg{
     font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    width: 138px;
    background: #c2e297;
    border: none;
    border-radius: 6px;
    margin-bottom: 40px;
}
.country-prg{
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: #000;
}
.descrip-prg{
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.83;
    letter-spacing: 0.04em;
    color: #907e82;
    padding-bottom: 20px;
    border-bottom: 1px solid #E1E1E1;
}
.days-prg{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: #000;
}
.days-prg span{

    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    color: #ffa5ba;
}
.address{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.83;
    color: #907e82;
    
}
.underline{
    padding-bottom: 10px;
    border-bottom: 1px solid #E1E1E1;
}
.address-item{
    padding-top: 20px;
}
/* butoane */
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.location-btn{
    border-radius: 22px;
    border: none;
    width: 198px;
    height: 44px;
    background: #d41342;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #fff;
}
.location-btn:hover{
    transform: translateY(-5px);
}
.franchise-btn{
    border-radius: 22px;
    border: none;
    width: 168px;
    height: 44px;
    background: #fff;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #d41443;
}
.franchise-btn:hover{
    transform: translateY(-5px);
}
/* modal window */
.modal-window{
    width: 40vh;
    height: 47vh;
    position: absolute;
    /* top: 0; */
    left: 0;
    right: 0;
    bottom: -50px;
    margin:  auto;
    z-index: 4;
    background-color: #ffffff;
    border: 1px solid #ecb5c2;
    border-radius: 3px;
    box-shadow: 0 0 3px 2px #ecb5c2;
    display: none;
}

.modal-window span{
    width: 24px;
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 14px;
    font-weight: 300;
    color: #ecb5c2;
    border: 1px solid #ecb5c2;
    padding: 2px;
    border-radius: 50%;
}
.modal-window span:hover{
    color: #fff;
    background-color: #ecb5c2;
}
.franc-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    
}
.franc-title{
    width: 330px;
    color: #d41342;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
   
}
.franc-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.franc-item{
    display: flex;
    flex-direction: column;

}
.franc-inp{
    width: 340px;
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 5px; 
}
.franc-item input:hover,
.franc-item input:focus{
    box-shadow: 0 1px 1px 0px #ecb5c2, 0px 1px 1px 0px #ecb5c2;
}
input:focus{
     box-shadow: 0 1px 1px 0px #ecb5c2, 0px 1px 1px 0px #ecb5c2;
    outline: none;
    
}
.franc-item label{
    color: #6f6f6f;
    font-size: 12px;
}
.franc-comm{
     width: 340px;
     height: 140px;
    border: 1px solid lightgrey;
    border-radius: 5px; 
    position: relative;
    
}
.franc-comm::placeholder{
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 11px;
}
.franc-btn{
    border: 2px solid #ffa5ba;
    border-radius: 30px;
    color: #d41342;
    padding: 10px 20px;
    background-color: #fff;
    font-weight: bold;
    margin-top: 20px;
}
.franc-btn:hover{
    background-color: #ecb5c2;
    color: #fff;
}
button:focus{
    outline: none;
}
/* footer */
.footer-container{
    background: #fff5f6;
    padding-top: 100px;
}
.footer-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.footer-title{
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffa5ba;
}

.span-title{
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 58px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #d41443;
}
.svg-list{
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}
.svg-list .svg:hover{
   fill: #d41342;
    background: #fff;
}

.svg{
    fill: #ffa5ba;
    background: #fff;
    border-radius: 50%;
}
.fb-svg{
    fill: #fff;
    background: #ffa5ba;
    border-radius: 50%;
    padding: 7px;
}
.fb-svg use{
    font-size: medium;
}
.fb-svg:hover{
    fill: #fff;
    background-color: #d41342;
}
.footer-prg{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: #000;
}
.footer-prg a{
    color: #d41443;
}

.copyright{
   
    text-align: center;
    margin: 0 15px;
    padding: 15px 0;
    border-top: 1px solid #e1e1e1;
    font-family: "DM Sans", sans-serif;
font-weight: 700;
font-size: 14px;
line-height: 1.86;
letter-spacing: 0.02em;
color: #907e82;
   
}
.copyright:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
}
/* hamburger menu */
.menu-button{
    display: none;
}
.hamburger-cont{
    /* width: 30vh;
    height: 40vh;
    z-index: 2; */
    display: none;
}

.menu-button{
    background-color: transparent;
    border: none;
}
.fa-bars{
    font-weight: 900;
    font-size: 26px;
    position: absolute;
    right: 10px;
    top: 10px;
}
/* responcive */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .header-container{
        max-width: 480px;
        /* padding: 0 0 0 1rem; */
        padding: 0;
        position: relative;
        overflow: hidden;
    }
    .header-div{
        display: flex;
        width: 390px;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-left: 1rem;

    }
    .header-list{
        display: none;
    }
    .header-btn{
        display: none;
    }
    .menu-button{
        display: block;
        position: relative;
       

    }
    .fa-bars{
        font-weight: 600;
        font-size: 26px;
        position: absolute;
        left: 10px;
        top: 10px;
        color: #d41342;
    }
    .hamburger-cont{
        position: fixed;
        background-color: #d07389;
        z-index: 3;
    
    }
    .ice-cream{
       position: absolute;
        z-index: 1;
        right: 60px;

    }
/* dispaly none */
    .girl{
        display: none;
    }
    .group-16{
        display: none;
    }
    .group-23{
        display: none;
    }
     .milk-div img{
        display: none;
    }
    .milk-descripsion{
        display: none;
    }
    .circle-pink{
        position: absolute;
        z-index: 0;
        top: 50px;
        right: -100px;
        overflow: hidden;
    }
   
   .hero-title{
    position: absolute;
    z-index: 2;
    top: 240px;
    left: 40px;
   }
    .hero-link-list{
        position: absolute;
        z-index: 2;
        left: 40px;
        bottom: 220px;
    }
    /* first section */
   .first-section{
     max-width: 480px;
   }
   .product-list{
    display: flex;
    flex-direction: column;
   }
}